<% layout("layouts/boilerplate") %>

<div class="row">
    <div class="col-10 offset-1">
        <div class="row">
            <div class="col bg-white card border-0 shadow-sm p-3">
                    <h1 class="fs-4">Order</h1>
                        <div class="all-orders">
                                <div class="order-summary">
                                    <div class="card">
                                        <div class="order-head bg-light p-2 border-bottom ">
                                            <div class="row">
                                                <div class="col-2 fw-bold">Order Placed</div>
                                                <div class="col-2">Total Amount</div>
                                                <div class="col-2">Total Items</div>
                                                <div class="col-2">Delivery</div>
                                                <div class="col-2">Status</div>
                                                <div class="col-2">Order ID</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-2"><%= order.orderedOn.toDateString() %></div>
                                                <div class="col-2">
                                                    <span class="material-icons fs-6">
                                                    currency_rupee
                                                    </span><%= order.totalPrice.toLocaleString('en-IN') %>
                                                </div>
                                                <div class="col-2"><%= order.totalItems %></div>
                                                <div class="col-2"><%= order.delivery.toDateString() %></div>
                                                <div class="col-2 fs-6 fw-bold <%= order.status === "Delivered"?"text-success":"" %> " ><%= order.status %></div>
                                                <div class="col-2 fs-5 fw-bold"><%= JSON.stringify(order._id).substring(1, 11).toUpperCase() %></div>
                                            </div>
                                        </div>
                                        <div class="order-body">
                                            <% for(let item of product) { %> 
                                                <div class="product">
                                                    <div class="row p-3">
                                                        <div class="col-2">
                                                            <img style="max-height: 100px;" src="<%= item.productId.images[0].url %>" class="img-fluid rounded-start" alt="...">
                                                        </div>
                                                        <div class="col-8">
                                                            <h5 class="card-title mb-0"><a href="/product/<%= item.productId._id %>" style="text-decoration:none;"><%= item.productId.name %></a> <span class="badge rounded-pill bg-light text-dark border"><%= item.productQty %></span>
                                                            </h5>
                                                            <span class="<%= item.productId.quantity>0?"text-success":"text-danger" %>"><%= item.productId.quantity>0?"In Stock":"Not Available" %></span>
                                                            <p class="mb-1"><span class="material-icons fs-6">
                                                                currency_rupee
                                                                </span><%= item.productPrice.toLocaleString('en-IN') %></p>
                                                        </div>
                                                        <div class="col-2">
                                                            <div class="fs-6 fw-bold">Price Summary</div>
                                                            <div class="fs-6"><%= item.productQty %> * <%= item.productPrice.toLocaleString("en-IN") %> </div>
                                                            <div class="fs-6"><%= (item.productPrice*item.productQty).toLocaleString("en-IN") %></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr class="text-muted my-0 mx-3">
                                            <% } %> 
                                        </div>
                                    </div>
                                </div>
                        </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1 card border-0 shadow-sm p-3">
        <h1 class="fs-3">Order Details</h1>
            <div class="card mt-2">
                <div class="row p-2">
                    <div class="col-3">
                        <h5 class="fs-6 fw-bold">Shipping Address</h5>
                        <p class="mb-0"><%= order.address.firstname %> <%= order.address.lastname %></p> 
                        <p class="mb-0">Mobile: <%= order.address.mobile %> <%= order.address.phone?("Phone: " +  order.address.phpne):""  %> </p>
                        <p class="mb-0"><%= order.address.firstline %></p> 
                        <p class="mb-0"><%= order.address.secondline %></p> 
                        <p class="mb-0"><%= order.address.landmark %></p> 
                        <p class="mb-0"><%= order.address.city %> - <%= order.address.pincode %></p> 
                        <p class="mb-0"><%= order.address.state %></p> 
                    </div>
                    <div class="col-3">
                        <h5 class="fs-6 fw-bold">Billing Address</h5>
                        <p class="mb-0"><%= order.payment.fullname %></p> 
                        <p class="mb-0"><%= order.payment.address %></p> 
                        <p class="mb-0"><%= order.payment.city %></p> 
                        <p class="mb-0"><%= order.payment.email %></p>                         
                    </div>
                    <div class="col-3">
                        <h5 class="fs-6 fw-bold">Payment Method</h5>
                        <p class="mb-0">Name on card: <%= order.payment.nameoncard %></p> 
                        <p class="mb-0">**** <%= order.payment.cardnumber.slice(-4) %></p> 
                    </div>
                    <div class="col-3">
                        <h5 class="fs-6 fw-bold">Order Summary</h5>
                        <div class="order">
                            <div>Total Items</div>
                            <div><%= order.totalItems %></div>
                        </div>
                        <div class="order">
                            <div>Subtotal</div>
                            <div><%=  (order.totalPrice - order.shipping).toLocaleString("en-IN", {
                                style: 'currency',
                                currency: 'INR'
                            }) %></div>
                        </div>
                        <div class="order">
                            <div>Delivery Fee</div>
                            <div class="<%= order.shipping == 0?"text-success fw-bold":"" %>"><%= order.shipping == 0?"FREE":order.shipping.toLocaleString("en-IN", {
                                style: 'currency',
                                currency: 'INR'
                            }) %></div>
                        </div>
                        <div class="order fw-bold">
                            <div>Grand Total</div>
                            <div><%= order.totalPrice.toLocaleString("en-IN", {
                                style: 'currency',
                                currency: 'INR'
                            }) %></div>
                        </div>
                    </div>
                </div>
            
        </div>

    </div>
</div>