<% layout("layouts/boilerplate") %>

<div class="row">
    <div class="col-3">
            <%- include("../partials/usernav") %> 
    </div>
    <div class="col-9">
        <div class="row">
            <div class="col bg-white card border-0 shadow-sm p-3">
                <div class="ms-2 d-flex flex-column">
                    <h2 class="fs-4 " style="width: fit-content;"><span class="text-primary">Hello</span> <%= user.name %> </h2>
                    <h3 class="fs-5">Account details <a href="/user/editaccount" class="ms-2 text-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg></a></h3>
                </div>
                <div class="account-details">
                    <table class="fs-5 table">
                        <tr>
                            <td>Name</td>
                            <td><%= user.name %> </td>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td><%= user.username %> </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><%= user.email %> </td>
                        </tr>
                        <tr>
                            <td>Mobile</td>
                            <td><%= user.phone %> </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>