<% layout("layouts/boilerplate") %>

<div class="payment">
    <div class="row">
        <div class="col-md-8 ">
            <div class="bg-white rounded shadow-sm p-3 border">
                <form action="/checkout/payment" method="post" class=" form-control border-0 p-0" novalidate id="paymentForm">
                    <div class="row">
                        <h1 class="fs-4">Billing Address</h1>
                        <div class="mb-1">
                            <input type="radio" class="form-check-input" name="payment[billing]" id="shipping" value="shipping" required>
                            <label for="shipping" class="form-check-label fs-5">Same as Shipping address</label>
                            <br>
                            <input type="radio" class="form-check-input" name="payment[billing]" id="new" value="new" required>
                            <label for="new" class="form-check-label fs-5">New address</label>
                        </div>
                        
                        <div class="row billingAddress d-none" >
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="fullname" class="form-label">Full Name *</label>
                                    <input type="text" class="form-control" name="payment[fullname]" id="fullname" required>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email *</label>
                                    <input type="email" class="form-control" name="payment[email]" id="email" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="address" class="form-label">Address *</label>
                                    <input type="text" class="form-control" name="payment[address]" id="address" required>
                                </div>
                                <div class="mb-3">
                                    <label for="City" class="form-label">City *</label>
                                    <input type="text" class="form-control" name="user[city]" id="City" required>
                                </div>
                            </div>
                        </div>
                        <h1 class="fs-4">Card Details</h1>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="nameoncard" class="form-label">Name on Card *</label>
                                    <input type="text" class="form-control" name="payment[nameoncard]" id="nameoncard" required>
                                </div>
                                <div class="row">
                                    <label for="expirymonth" class="form-label">Expiry *</label>
                                    
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <select name="payment[expiryyear]" id="expiryyear" class="form-select" required>
                                                <option value="">Choose Year</option>
                                                <option value="2022">2022</option>
                                                <option value="2023">2023</option>
                                                <option value="2024">2024</option>
                                                <option value="2025">2025</option>
                                                <option value="2026">2026</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <select name="payment[expirymonth]" id="expirymonth" class="form-select" required>
                                                <option value="">Choose Month</option>
                                                <option value="1">01</option>
                                                <option value="2">02</option>
                                                <option value="3">03</option>
                                                <option value="4">04</option>
                                                <option value="5">05</option>
                                                <option value="6">06</option>
                                                <option value="7">07</option>
                                                <option value="8">08</option>
                                                <option value="9">09</option>
                                                <option value="10">10</option>
                                                <option value="11">11</option>
                                                <option value="12">12</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="cardnumber" class="form-label">Card Number *</label>
                                    <input type="number" class="form-control" onKeyPress="if(this.value.length==19) return false;" name="payment[cardnumber]" id="cardnumber" required>
                                    <div class="d-none text-success" id="cardvalidfeedback">Valid Card Number</div>
                                    <div class="invalid-feedback" id="cardinvalidfeedback">Invalid Card Number</div>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="cvv" class="form-label">CVV *</label>
                                    <input type="password" class="form-control" name="payment[cvv]" id="cvv" maxlength="3" required>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
            <div class="col-md-4 ">
                <div class="bg-white rounded shadow-sm p-3 border">
                    <h1 class="fs-4 mb-2">Order Summary</h1>
                    <% for(let product of cartItems) { %>
                        <div class="order">
                            <div><%= product.name %> (<%= product.productQty %>)</div>
                            <div><span class="material-icons fs-6">
                                currency_rupee
                            </span><%= (product.price * product.productQty).toLocaleString("en-IN") %></div>
                        </div>    
                        <% } %>  
                    <hr class="text-muted m-0">
                    <div class="order">
                        <div>Total Items</div>
                        <div><%= cartDetails.totalItems %></div>
                    </div>
                    <div class="order">
                        <div>Sub Total</div>
                        <div><span class="material-icons fs-6">
                            currency_rupee
                        </span><%= cartDetails.subtotal.toLocaleString("en-IN") %></div>
                    </div>
                    <div class="order">
                        <div>Delivery Fee</div>
                        <div class="<%= cartDetails.fees == 0?"text-success fw-bold":"" %>"><%- cartDetails.fees!=0?"<span class=\"material-icons fs-6\">currency_rupee</span>":"" %><%= cartDetails.fees == 0?"FREE":cartDetails.fees %></div>
                    </div>
                    <div class="order">
                        <div>Expected Delivery</div>
                        <div><%= cartDetails.date %> </div>
                    </div>
                    <hr class="text-muted m-0">
                    <div class="order">
                        <div class="fs-4 fw-bold">Grand Total</div>
                        <div class="text-primary fs-4 fw-bold"><span class="material-icons fs-5">
                            currency_rupee
                        </span><%= cartDetails.grandTotal.toLocaleString("en-IN") %></div>
                    </div>
                    <button type="submit" form="paymentForm" class="btn btn-primary rounded-pill w-100 mt-2">Pay Now</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const cardNumberInput = document.querySelector("#cardnumber")
        const vfeedback = document.querySelector("#cardvalidfeedback")
        const ivfeedback = document.querySelector("#cardinvalidfeedback")
        cardNumberInput.addEventListener("keyup", () => {
            const cardNumber = cardNumberInput.value
            const length = cardNumber.length
            var sum = 0 
            var isSecond = false
            for(let ind = cardNumber.length - 1; ind >= 0; ind--) {
                var digit = parseInt(cardNumber[ind])
                if(isSecond == true) {
                    digit *= 2
                }
                isSecond = !isSecond
                sum += parseInt(digit / 10, 10)
                sum += digit%10
            }
            if(sum % 10 == 0 && sum!=0){
                vfeedback.classList.remove("d-none")
                ivfeedback.classList.remove("d-block")
                console.log("valid")
            }else {
                ivfeedback.classList.add("d-block")
                vfeedback.classList.add("d-none")
            }
        })

        $("#expiryyear").change(function () {
            var curmonth = new Date().getMonth() + 1
            var currentyear = new Date().getFullYear()
            var year = $(this).val();
            var monthhtml = "<option value=\"\">Choose Month</option>"
            if (year == currentyear) {
                for(let i= curmonth + 1;i<=12;i++)
                    monthhtml += `<option value=\"${i}\">${i}</option>`
                } else {
                    // var monthhtml = ""
                    for(let i= 1;i<=12;i++)
                    monthhtml += `<option value=\"${i}\">${i}</option>`
                    // $("#expirymonth").html(monthhtml);
                }
                $("#expirymonth").html(monthhtml);
            });     
        
        $(document).ready(function () {
            const form = document.querySelector(".billingAddress")
            $("input:radio[name='payment[billing]']").change(function () {
                if ($("input[name='payment[billing]']:checked").val() == "shipping") {
                    form.classList.add("d-none")
                }
                if ($("input[name='payment[billing]']:checked").val() == "new") {
                    console.log("click")
                    form.classList.remove("d-none")
                }
            });
        });
    </script>